html, body {
	height: 100%;
	width: 100%;
	padding:0;
	margin:0;
}

body {
	display: flex;
	flex-direction: column;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 90%;
}

pre, code, #instructions, #runtimeOut {
	font-family: 'Inconsolata', Courier, monospace;
}

h1,h2,h3 {
	font-family: 'Merriweather', serif;

	text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.container {
	flex: 1 1 auto;

	display: flex;
	flex-direction: reverse-row;
	flex-wrap: nowrap;
}

#header {
	position: relative;

	height: 3rem;
	width: 100%;

	background: #84b4e1; /* #358ccb; */
	/*border-bottom: thin solid #c3daf0;*/
	box-shadow: 0 6px 6px -6px black;
}
#header>h1 {
	font-size: 200%;
	display: inline-block;
	margin: 0.5rem 0 0 calc(4rem + 0.5em);
}

#header>.links {
	display: inline-block;

	position: absolute;
	right: 0;
	bottom: 0;
}
.links>small {
	display: inline-block;
	min-width: 6rem;
	text-align: center;

	margin-right: 8px;

	border-bottom: 0.25rem solid #c3daf0;
}

.attribution {
	position: absolute;
	top: 3px;
	right: 0;
	margin: 0px;
	padding: 0 1em 0 0.5em;
	height: 18px;

	background: #c3daf0;
}

.outputArea {
	box-sizing:border-box;
	padding: 12px 5px;
	overflow: auto;
	flex: 1 1 auto;
}
.controlArea {
	background: #FFF;
	padding: 0px 5px;
	width: 300px;

	border-left: thick solid #c3daf0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.controlArea>h3 {
	margin: 10px 0px 5px -5px;
	padding-left: 5px;
	border-left: 5px solid #c3daf0;
}

.controlArea>:last-child {
	margin-bottom: 5px;
}

#tapeStart.tapeView {
	margin-bottom: 14px;
}

.tapeView {
	margin-bottom: 7px;
	user-select: none;
}

.tapeView div {
	display: inline-block;
	width: 1.5em;
	margin: 0;
	padding: 0;

	user-select: none;
}

.codeView {
	margin: 20px 36px;
	margin: 20px calc(4rem + 7px);
	padding: 8px;

	border: thin solid black;
}

#tapeStart>div:nth-child(8n+2),
#tapeStart>div:nth-child(8n+3),
#tapeStart>div:nth-child(8n+4),
#tapeStart>div:nth-child(8n+5),
.hlTapeCell {
	background: #FFD9E4;
}

.tapeView:nth-child(10n+5)>.tapeIdx {
	background: #FFD9E4;
	font-size: 200%;
	font-weight: bold;
	color:black;

	height: 2rem;
	padding: 0 5px 0 0;
}

.tapeView>.tapeIdx {
	display: inline-block;
	height: 1rem;
	width: 4rem;

	text-align: right;
	border: solid thin rgba(0,0,0,0);
	vertical-align: top;
	padding: 0.5rem 5px 0.5rem 0;
	margin: 0;

	color: grey;
}

#tapeStart.tapeView>.tapeCell,
.startFlagOn {
	cursor:pointer;
}

.tapeCell {
	height: 2rem;
	display: inline-block;
	border: thin solid black;
	border-right: none;
	margin-right: -1px;
	vertical-align: top;
	
	position: relative;
}

.tapeCell:last-of-type {
	border-right: thin solid black;
}

.tapeCell>div {
	text-align: center;
	height: 1rem;
	position: absolute;
}

.tapeCell>div.data {
	top: 0px;
}

.tapeCell>div.data.data1 {
	background: black;
	color: white;
}

.tapeCell>div.startFlag {
	bottom: 0px;
}

.tapeCell>div.startFlagOn {
	background: maroon; /* #ED146F;*/
	color: white;
}

.controlArea input {
	width: 10em;
	background: none;
	border: none;
	border-bottom: thin solid black;
	text-align: right;
}

.controlArea input[type="text"] {
	width: 9em;
	margin-right: 1em;
}

#instructions {
	flex: 1 1 auto;
}

#compilerOut, #instructions{
	box-sizing: border-box;
	margin: 0 0 5px;
}

#btnRun {
	width: 60%;
	width: calc(70% - 5px);
	margin-right: 5px;
}
#btnGraphViz {
	width: 30%;
}

#runtimeOut {
	margin-bottom: 3px;
	padding-left: 5px;
	border: solid thin darkgrey;
}

.runtimeReady {
	background: white;
}

.runtimeGood {
	background: #89EA3A;
}

.runtimeError {
	background: #FF7BBF;
}
